@font-face {
  font-family: FiraSans;
  src: url(/fonts/FiraSans-Regular.ttf);
}

.projects {
  padding: 4rem 12% 4rem;
  font-family: FiraSans;
  min-height: 90vh;
  color: white;
}

.projects__title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  color: rgb(178, 178, 178);
  font-size: 2em;
  gap: 1rem;
}

.projects__title-line {
  display: inline-block;
  height: 2px;
  background-color: rgb(178, 178, 178, 60%);
  width: 25%;
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.projects__sub-title {
  display: flex;
  gap: 1rem;
  color: rgb(178, 178, 178);
  font-size: 1.8em;
  padding-top: 4em;
  align-items: center;
  margin-bottom: 1.5em;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .projects__grid {
    grid-template-columns: none;
  }
}
