@font-face {
  font-family: FiraSansLight;
  src: url(/fonts/FiraSans-Light.ttf);
}

.project-card {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(114, 229, 225);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  font-family: FiraSansLight;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 30px rgba(114, 229, 225);
}

.project-card__title {
  font-size: 1.5em;
}

.project-card__description {
  font-size: 1em;
  color: rgb(178, 178, 178);
}

.project-card__technologies {
  font-size: 0.9em;
  color: #999898;
}

.project-card__links {
  display: flex;
  gap: 12px;
}

.project-card__icon {
  width: 24px;
  height: 24px;
  fill: white;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.project-card__icon:hover {
  fill: rgb(114, 229, 225);
  transform: scale(1.5);
}

.project-card__link {
  text-decoration: none;
  color: #007bff;
}

.project-card__link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project-card {
    padding: 12px;
    gap: 12px;
  }

  .project-card__title {
    font-size: 1.4em;
    text-align: center;
  }

  .project-card__description {
    font-size: 1em;
    text-align: center;
    color: rgb(200, 200, 200);
  }

  .project-card__technologies {
    font-size: 0.95em;
    text-align: center;
  }

  .project-card__links {
    justify-content: center;
    gap: 16px;
  }

  .project-card__icon {
    width: 28px;
    height: 28px;
  }

  .project-card__link {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .project-card {
    gap: 0;
  }

  .project-card__title {
    margin: 0.2em 0em;
  }
}
