@font-face {
  font-family: FiraSans;
  src: url(../../vendor/fonts/FiraSans-Regular.ttf);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0px 10%;
  font-family: FiraSans;
  min-height: 100vh;
}

.main__intro {
  padding-bottom: 7em;
  padding-left: 10em;
  flex: 1;
  text-align: left;
}

.main__skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  text-align: left;
  color: transparent;
  padding: 2rem;
}

.main__skills-icon {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  fill: white;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.main__title {
  color: white;
  font-size: 4em;
  margin-top: 0px;
  margin-bottom: 8px;
  animation: fadeIn 1.5s ease-in-out;
}

.main__title-name {
  color: rgb(114, 229, 225);
  text-shadow: 0 0 25px rgb(85, 192, 234);
}

.main__typing {
  margin: auto;
  color: white;
  font-size: 2.8em;
  animation: fadeIn 3.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.main__typing-gradient {
  background: linear-gradient(90deg, #72e5e1, #2575fc, #72e5e1);
  background-size: 500% 500%;
  animation: gradientShift 3s linear infinite;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.main__typing-gradient::after {
  content: "_";
  color: #72e5e1;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.main__about {
  color: rgb(178, 178, 178);
  width: 60%;
  text-align: justify;
  padding: 10px 0px;
}

.main__content {
  animation: fadeIn 2s ease-in-out;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 2rem 5%;
  }

  .main__intro,
  .main__skills {
    text-align: center;
  }

  .main__skills {
    margin-top: 2rem;
  }
}

@media (max-width: 390px) {
  .main__typing-gradient {
    font-size: 0.8em;
  }
}
