@font-face {
  font-family: FiraSans;
  src: url("fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: FiraSansLight;
  src: url("fonts/FiraSans-Light.ttf") format("truetype");
}

.header {
  padding: 2rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: FiraSans;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header.blog-page {
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.header.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.header__logo {
  font-size: 2em;
  color: white;
  text-decoration: none;
  font-family: FiraSansLight;
  transition: transform 0.5s ease;
  position: relative;
  z-index: 10;
}

.header__logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header__logo-last {
  color: rgb(114, 229, 225);
  text-shadow: 0 0 25px rgb(85, 192, 234);
}

.header__nav {
  display: flex;
  gap: 12px;
}

.header.blog-page .header__nav,
.header.blog-page .header__hamburger {
  display: none !important;
}

.header__nav-link {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: FiraSansLight;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.header__nav-link:hover {
  cursor: pointer;
  color: rgb(114, 229, 225);
}

.header__hamburger {
  visibility: hidden;
}

@media (max-width: 768px) {
  .header {
    padding: 1.5rem 5%;
  }

  .header__nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    border-radius: 8px;
    z-index: 10;
    width: 60%;
    align-items: flex-end;
  }

  .header__nav.open {
    display: flex;
  }

  .header__hamburger {
    visibility: visible;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    background: none;
    border: none;
    outline: none;
    z-index: 15;
    transition: transform 0.3s ease;
  }

  .header__hamburger:hover {
    transform: scale(1.1);
  }

  .header.blog-page .header__logo {
    font-size: 2.2em;
    margin: 0 auto;
  }
}
