@font-face {
  font-family: FiraSansLight;
  src: url(/website/fonts/FiraSans-Light.ttf);
}

.footer {
  padding: 1rem 0 0rem;
  font-family: FiraSansLight;
}

.footer__credit {
  color: gray;
  text-align: center;
  font-size: 0.8em;
}
