@font-face {
  font-family: FiraSans;
  src: url(../../vendor/fonts/FiraSans-Regular.ttf);
}

.blog {
  padding: 4rem 12% 4rem;
  font-family: FiraSans;
  color: white;
  min-height: 60vh;
}

.blog__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
  color: rgb(178, 178, 178);
  font-size: 2em;
  gap: 1rem;
}

.blog__title-line {
  display: inline-block;
  height: 2px;
  background-color: rgb(178, 178, 178, 60%);
  width: 25%;
}

.blog__about {
  text-align: center;
  margin-top: 150px;
}
